extends layout

block content
  
  h1 Books

  a(href="books/new") Create new book

  table 
    th Title 
    th Author 
    th Year 
    th Genre
      
    tbody
      each book in books 
         tr 
          td #{book.id}
          td
            a(href=`/books/${book.id}`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}


